# Top Seller Solution

Author : Muhammet Fatih POLAT

1. Solution steps
2. Top Seller Function

## 1. Solution Steps

In [2]:
import pandas as pd

In [2]:
# Read csv files
product = pd.read_csv("product.csv")
sales = pd.read_csv("sales.csv")
store = pd.read_csv("store.csv")

In [3]:
product.head()

    id   name     brand
0  101  p-101  yoyodyne
1  102  p-102      duff
2  103  p-103  yoyodyne
3  104  p-104      acme
4  105  p-105  yoyodyne

In [4]:
store.head()

   id name       city
0   1  s-1     gotham
1   2  s-2  coruscant
2   3  s-3  coruscant
3   4  s-4     gotham
4   5  s-5     gotham

In [5]:
sales.head()

         date  product  store  quantity
0  2020-06-07      114      5         2
1  2020-05-25      106      7         8
2  2020-02-05      108      3         7
3  2020-03-10      111      2         9
4  2020-03-06      109      3         2

- In sales table, product and store columns, represent their table ids

In [6]:
# Join two tables
joined = sales.join(store.set_index('id'), on='store', how='left')
joined.head()

         date  product  store  quantity name       city
0  2020-06-07      114      5         2  s-5     gotham
1  2020-05-25      106      7         8  s-7     gotham
2  2020-02-05      108      3         7  s-3  coruscant
3  2020-03-10      111      2         9  s-2  coruscant
4  2020-03-06      109      3         2  s-3  coruscant

In [7]:
# Join two tables. Both of tables has 'name' column, so product column name was renamed with suffix='_product'
joined = joined.join(product.set_index('id'), on='product', how='left', rsuffix='_product')
joined.head()

         date  product  store  quantity name       city name_product     brand
0  2020-06-07      114      5         2  s-5     gotham        p-114      duff
1  2020-05-25      106      7         8  s-7     gotham        p-106      duff
2  2020-02-05      108      3         7  s-3  coruscant        p-108      acme
3  2020-03-10      111      2         9  s-2  coruscant        p-111      acme
4  2020-03-06      109      3         2  s-3  coruscant        p-109  yoyodyne

In [8]:
# Result table has name column, it's not informative, renamed it name_store
joined = joined.rename(columns={'name': 'name_store'})
joined.head()

,date,product,store,quantity,name_store,city,name_product,brand
0,2020-06-07,114,5,2,s-5,gotham,p-114,duff
1,2020-05-25,106,7,8,s-7,gotham,p-106,duff
2,2020-02-05,108,3,7,s-3,coruscant,p-108,acme
3,2020-03-10,111,2,9,s-2,coruscant,p-111,acme
4,2020-03-06,109,3,2,s-3,coruscant,p-109,yoyodyne

In [10]:
# Top Seller Product - grouped by product and sorted by quantity
print("---Top Seller Product---")
prod_quant = joined.groupby('name_product')['quantity'].sum()
prod_quant = pd.DataFrame(prod_quant.sort_values(ascending=False))
prod_quant.head()

---Top Seller Product---

              quantity
name_product
p-103               42
p-110               24
p-102               24
p-109               23
p-114               20

In [12]:
# Top Seller Store - grouped by store and sorted by quantity
print("---Top Seller Store---")
store_quant = joined.groupby('name_store')['quantity'].sum()
store_quant = pd.DataFrame(store_quant.sort_values(ascending=False))
store_quant.head()

---Top Seller Store---

            quantity
name_store
s-3               57
s-2               53
s-7               41
s-5               37
s-4               30

In [13]:
# Top Seller Brand - grouped by brand and sorted by quantity
print("---Top Seller Brand---")
brand_quant = joined.groupby('brand')['quantity'].sum()
brand_quant = pd.DataFrame(brand_quant.sort_values(ascending=False))
brand_quant.head()

---Top Seller Brand---

          quantity
brand
yoyodyne       118
acme            81
duff            60

In [14]:
# Top Seller City - grouped by city and sorted by quantity
print("---Top Seller City---")
city_quant = joined.groupby('city')['quantity'].sum()
city_quant = pd.DataFrame(city_quant.sort_values(ascending=False))
city_quant.head()

---Top Seller City---

           quantity
city
gotham          123
coruscant       110
zion             26

## 2. Top Seller Function

topseller(min_date, max_date, top):

    Arguments List

        min_date : Starting date       -> Type : str    -> Format : 'YYYY-MM-DD'   -> Default : '2020-01-01'
        max_date : Due date            -> Type : str    -> Format : 'YYYY-MM-DD'   -> Default : '2020-06-30'
        top      : Number of result    -> Type : int                               -> Default : 3

    Output

        Prints results

        Return -> None

In [96]:
def topseller(min_date = "2020-01-01", max_date = "2020-06-30", top=3):
    
    # Read csv files
    product = pd.read_csv("product.csv")
    sales = pd.read_csv("sales.csv")
    store = pd.read_csv("store.csv")

    # Convert the date column into dtype datetime
    sales['date'] = pd.to_datetime(sales['date'])

    ### Check Arguments ###
    
    # Check 'top' argument, if type not equal int and float, set 3
    if (type(top) != int) and (type(top) != float):
        print("Not proper 'top' argument'...")
        print("It's set 3")
        print("-"*50)
        print("\n")
        top = 3
    # If type int or float, round it and set round result to 'top'
    else:
        top = round(top)

    # Try to convert dates to Timestamp 
    try:
        pd.to_datetime(min_date)
        pd.to_datetime(max_date)
    except ValueError as e:
        print(f"Error : {e}")
        print("-"*50)
        print("Type : str")
        print("Format: 'YYYY-MM-DD'")
        print("-"*50)
        pass

    # Convert dates to Timestamp
    min_date = pd.to_datetime(min_date)
    max_date = pd.to_datetime(max_date)

    # Check dates, if they not in data range, set them data.min and data.max
    if (min_date < sales['date'].min()) or (min_date > sales['date'].max()):
        print("min_date out of range...")
        print("It's set oldest record date")
        print("-"*50)
        print("\n")
        min_date = sales['date'].min()

    if (max_date < sales['date'].min()) or (max_date > sales['date'].max()):
        print("max_date out of range...")
        print("It's set newest record date")
        print("-"*50)
        print("\n")
        max_date = sales['date'].max()

    # Check min_date for has recent date from max_date
    if min_date > max_date:
        print("min_date has recent date from max_date...")
        print("It's set min_date as max_date, max_date as min_date")
        print("-"*50)
        print("\n")
        min_date, max_date = max_date, min_date 

    ###

    # Join dataframes
    joined = sales.join(store.set_index('id'), on='store', how='left')
    
    # Result table has name column, it's not informative, renamed it name_store
    joined = joined.join(product.set_index('id'), on='product', how='left', rsuffix='_product')

    # Rename name column with name_store
    joined = joined.rename(columns={'name': 'name_store'})

    # Apply dates
    filtered = joined[(joined['date'] >= min_date) & (joined['date'] <= max_date)]

    # Top Seller Product - grouped by product and sorted by quantity
    print("   Top Seller Product")
    print("="*24)
    prod_quant = filtered.groupby('name_product')['quantity'].sum()
    prod_quant = pd.DataFrame(prod_quant.sort_values(ascending=False))
    print(prod_quant.head(top))
    print("\n")

    # Top Seller Store - grouped by store and sorted by quantity
    print("   Top Seller Store")
    print("="*24)
    store_quant = filtered.groupby('name_store')['quantity'].sum()
    store_quant = pd.DataFrame(store_quant.sort_values(ascending=False))
    print(store_quant.head(top))
    print("\n")
    
    # Top Seller Brand - grouped by brand and sorted by quantity
    print("   Top Seller Brand")
    print("="*24)
    brand_quant = filtered.groupby('brand')['quantity'].sum()
    brand_quant = pd.DataFrame(brand_quant.sort_values(ascending=False))
    print(brand_quant.head(top))
    print("\n")

    # Top Seller City - grouped by city and sorted by quantity
    print("   Top Seller City")
    print("="*24)
    city_quant = filtered.groupby('city')['quantity'].sum()
    city_quant = pd.DataFrame(city_quant.sort_values(ascending=False))
    print(city_quant.head(top))
    print("\n")

In [94]:
# Testing for out of range dates and string 'top' value
topseller(min_date="2010-02-01", max_date="2021-06-30", top="a")

Not proper 'top' argument'...
It's set 3
--------------------------------------------------


min_date out of range...
It's set oldest record date
--------------------------------------------------


max_date out of range...
It's set newest record date
--------------------------------------------------


   Top Seller Product
========================
              quantity
name_product
p-103               42
p-110               24
p-102               24


   Top Seller Store
========================
            quantity
name_store
s-3               57
s-2               53
s-7               41


   Top Seller Brand
========================
          quantity
brand
yoyodyne       118
acme            81
duff            60


   Top Seller City
========================
           quantity
city
gotham          123
coruscant       110
zion             26

In [97]:
# Testing for min_date > max_date
topseller(min_date="2020-05-30", max_date="2020-02-01", top=2)

min_date has recent date from max_date...
It's set min_date as max_date, max_date as min_date
--------------------------------------------------


   Top Seller Product
========================
              quantity
name_product
p-103               33
p-110               22


   Top Seller Store
========================
            quantity
name_store
s-3               42
s-7               36


   Top Seller Brand
========================
          quantity
brand
yoyodyne        89
acme            63


   Top Seller City
========================
           quantity
city
gotham           85
coruscant        78

In [98]:
# Testing for invalid date
topseller(min_date="a", max_date="2021-06-30", top=2)

Error : Given date string not likely a datetime.
--------------------------------------------------
Type : str
Format: 'YYYY-MM-DD'
--------------------------------------------------

ValueError: Given date string not likely a datetime.